# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
package-lock.json

# ティラノスクリプト
release/
test/
studio_config.json

# ティラノスクリプトエンジン（再配布禁止）
tyrano/

# ビルド出力
build/
dist/

# バックアップ
*.bak
*.tmp
*~
